<div class="container__big-card">

  <div class="big-card__picture">
    <img src="https://i.stack.imgur.com/luaq2.png"
    alt=""
    height="200px"
    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versao do Angular!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, dicta veniam, corporis tempora delectus deleniti quod dolor autem, distinctio repellat obcaecati nisi perspiciatis excepturi. Sit molestiae deserunt non eveniet!
      </a>
    </p>
  </div>
</div>
